<div class="sidebar">
  <h3 class="logo">Asset Manager</h3>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a>
    </li>
    <li class="nav-item">
      <a routerLink="/assets" routerLinkActive="active" class="nav-link">Assets</a>
    </li>
    <li class="nav-item">
      <a routerLink="/assignments" routerLinkActive="active" class="nav-link">Assignments</a>
    </li>
    <li class="nav-item">
      <a routerLink="/employees" routerLinkActive="active" class="nav-link">Employees</a>
    </li>
    <li class="nav-item mt-auto">
      <a routerLink="/login" class="nav-link text-danger" routerLinkActive="active">Logout</a>
    </li>
  </ul>
</div>
