<p>register works!</p>
<div class="register-wrapper">
  <div class="background-animation">
  <!-- Rotating Icons -->
  <div class="icon rotate">💻</div>     <!-- Laptop -->
  <div class="icon rotate delay">📱</div> <!-- Mobile -->
  <div class="icon rotate">🖨️</div>     <!-- Printer -->
  
  <!-- Bouncing Icons -->
  <div class="icon bounce">📦</div>     <!-- Package -->
  <div class="icon bounce delay">📁</div> <!-- Folder -->
  <div class="icon bounce">🖱️</div>     <!-- Mouse -->

  <!-- Floating Icons -->
  <div class="icon float">🔌</div>      <!-- Plug -->
  <div class="icon float delay">🎧</div> <!-- Headphones -->
  <div class="icon float">🖥️</div>     <!-- Desktop -->

  <!-- Pulsing Icons -->
  <div class="icon pulse">🔒</div>      <!-- Lock -->
  <div class="icon pulse delay">🗂️</div> <!-- Files -->
  <div class="icon pulse">🧾</div>     <!-- Receipt -->
</div>




<div class="register-card">
    <div class="logo-placeholder">
      <!-- Logo -->
      <h2>Asset Manager</h2>
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <h3>Register</h3>

      
      <label>Name:</label>
      <input formControlName="Name" type="text" />
      <div class="error" *ngIf="registrationForm.get('Name')?.invalid && registrationForm.get('Name')?.touched">
        Email is required
      </div>

      <label>Email:</label>
      <input formControlName="email" type="email" />
      <div class="error" *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
        Email is required
      </div>

      <label>Password:</label>
      <input formControlName="password" type="password" />
      <div class="error" *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
        Password is required
      </div>

      <label>Conform Password:</label>
      <input formControlName="Conform password" type="password" />
      <div class="error" *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
        Password is required
      </div>


      <label>Company Name:</label>
      <input formControlName="companyname" type="companyname" placeholder="Ex.Company Pvt Ltd" />
      <div class="error" *ngIf="registrationForm.get('companyname')?.invalid && registrationForm.get('companyname')?.touched">
        Company name is required
      </div>

      <button type="submit" [disabled]="registrationForm.invalid" (click)="onRegisterSuccess()">Submit</button>
      
    </form>
  </div>